/*  when we start to use the same colour in different places
    we can start to define variables
*/
:root{
    --grey-800: #272727;
}
/* defining base tags first. once this becomes unruly, we can
split it off into a separate stylesheet often called base.css */
body {
    /* white on dark grey is nice */
    background-color: var(--grey-800);
    font-family: "Inter", sans-serif;
    color: white;
}
p {
    border: 2px solid #b0e0e6;
}
h1{
    color: white;
}
button{
    background-color: #b0e0e6;
    color: var(--grey-800);
    border: none;
    border-radius: 3px;
    padding: 2px;
}
button:focus,
button:active {
    outline: none;
}
ul {
    padding-inline-start: 1.5em;
}

/* all list elements will have this styling */
li {
    list-style: none;
    line-height: 1.5em;
}

/* all list elements with class ui-node will have this styling 
on top of the existing list element styling
*/
li.ui-node {
    opacity: 0.1;
    transition: opacity 0.1s;
}
li.ui-node.appear {
    opacity: 1;
}
li.ui-node.disappear {
    opacity: 0.1;
}
#main {
    flex: 1;
    padding: 20px;
    background-color: #3a3a3a;
    border-radius: 3px;
}

.content {
    display: flex;
    /* vh: view height. simple way to make an element responsive */
    height: 75vh;
}
.header {
    height: 150px;
    /* another way of saying top/bottom 0px left/right 20px  */
    padding: 0 20px;
    height: 20vh;
}
.header code {
    font-weight: bold;
    font-size: 3em;
}
.btn-group {
    margin-top: 30px;
    width: 240px;
    display: flex;
    justify-content: space-between;
}
.btn-group > button {
    flex: 1;
    background: none;
    color: #26B7F5;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.1s;
}
.btn-group > button:hover {
    border: 1px solid #26B7F5;
}
.btn-group>button:not(:last-child){
    margin-right: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin: 0 26px;
}
.nodeselect:active {
    /* background-color: skyblue; */
}
.nodeselect:focus {
    outline: none;
}

.nodeselect {
    cursor: pointer;
    height: 50px;
    min-width: 100px;
    background-color: #3a3a3a;
    /* white with 65% opacity makes it easier on the eyes */
    color: rgb(255, 255, 255, 0.75);

    /* easier way to just define the left one */
    border: none;
    border-left: 5px solid;

    border-radius: 3px;

    padding: 20px 12px;
    margin-bottom: 4px; 
}
.nodeselect.online {
    border-color: #5AB774;
}
.nodeselect.offline {
    border-color: #EF5151;
}
.nodeselect.loading {
    border-color: #f5b055;
    cursor: progress;
}
.colorset {
    display: none;
    background-color: #4d4d4d;
    padding: 5px;
    border-radius: 12.5px;
    box-shadow: 0px 3px 8px 1px #272727;
}
.nodeselect:hover .colorset{
    display: block;
    position: relative;
    transform: translate(80px, -50px);
    width: 20px;
}

.colorset .color {
    height: 40px;
    width: 30px;
    border-radius: 10px;
    transition: width 0.1s ease-out;
}
.color:hover {
    width: 90px;
}
.color:hover :after {
    display: block;
}
.color:after {
    display: none;
}
.colorset {
    cursor: auto;
}
.color {
    cursor: pointer;
}
.colorset .color:not(:last-child) {
    margin-bottom: 20px;
}
.color.blue { background-color: #26B7F5; }
.color.red { background-color: #EF5151; }
.color.yellow { background-color: #f5b055; }
.color.green { background-color: #5AB774; }